body{
    width: 100%;
    background-color: white;

}

.banner{
    width: 100%;
    height: 400px;
    background-image: url("imagem/gg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.po{
    background-color: red;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li{
    float: left;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: red;
}


.primeiro{
    width: 47%;
    height: 400px;
    background-image: url("imagem/aa.gif");
    background-size: 100% 100%;
    margin-right: 5%;
    margin-bottom: 5%;
    display: inline-block;
}

.segundo{
    width: 47%;
    height: 400px;
    background-image: url("imagem/te.jpg");
    background-size: auto;
    margin-bottom: 5%;
    display: inline-block;
}

.terceiro{
    width: 47%;
    height: 400px;
    background-image: url("imagem/ab.gif");
    background-size: 100% 100%;
    margin-right: 5%;
    display: inline-block;
}

.quarto{
    width: 47%;
    height: 400px;
    background-image: url("imagem/te.jpg");
    background-size: auto;
    display: inline-block;
}

.quinto{
    width: 47%;
    height: 400px;
    background-image: url("imagem/ac.gif");
    background-size: 100% 100%;
    margin-right: 5%;
    margin-top: 0;
    display: inline-block;
}

.sexto{
    width: 47%;
    height: 400px;
    background-image: url("imagem/te.jpg");
    background-size: auto;
    display: inline-block;
}


.corpo{
	background-color: #3e4143;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	
}

.fesquerdo p{
	color:  gray;
	font-size: 14px;
	margin: 0;
}

.navegador{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.navegador a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.fdireita{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.fdireita a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}


